.sd_actors_info_table td:first-child {
	padding-right: 20px;
}

.column-post_id {
	width: 50px;
}

.column-image_src {
	width: 60px;
}

.sd_support_wrapper .left .postbox{
	padding: 20px
}

#sd_gallery_images figure{
	display: inline-block;
}