.sd_post_content {

}

.sd_actor_entry {
    margin: 10px 0;
    text-align: center;
}


.sd_schortcodes_container {
    width: 100%;
    text-align: center;

}

.sd_schortcodes_box {
    overflow: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sd_schortcodes_box .sd_block {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.sd_schortcodes_box .sd_block .sd_table_entry_padding{
    margin: 10px;
}


.sd_schortcodes_box .sd_block img {
    width: 100% !important;
    height: auto !important;
}
